@import url("/Style/all.css");


$buttonColor : rgb(13, 88, 85);
$textColor : rgb(100, 100, 100);
$checkboxColor:rgb(241, 241, 241);

@mixin labelStyle (){
    padding: 0.5em 0.8em;
    background-color: $checkboxColor;
    border-radius: 50px;
}
@mixin getStartedButton(){
    margin: 0 1em 0 1em;
        background-color: $buttonColor;
        padding: 0.6em 1em;
        border-radius: 5px;
        border: none;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        &:hover{
            cursor: pointer;
        }
}
#pm, #cas,#m, #cad, #sd, #tm, #c, #har, #it, #tps{
    display: none;
}

.project-management{
   
    
    .pm-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        
        padding: 0.1em;
        border: 1px solid red;
        border-radius: 2px;
        position: relative;

    }
    .pm-gc{
        padding: 0;
        margin: -0.15em 0 0 -0.15em;
        position: absolute;
        height: 120%;
        width: 120%;
        display: none;
    }
}
.marketing{
    
    .m-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0;
        padding: 0.1em;
        border: 1px solid rgb(223, 145, 0);
        border-radius: 2px;
    }
    .m-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }
    
    
}
.crm-and-sales{
    
    .cas-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0em;
        padding: 0.1em;
        border: 1px solid rgba(0, 39, 214, 0.753);
        border-radius: 2px;
    }
    .cas-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }
}


.creative-and-design{
    
    .cad-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0em;
        padding: 0.1em;
        border: 1px solid rgba(0, 172, 14, 0.849);
        border-radius: 2px;
    }
    .cad-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }
}
.software-development{
    
    .sd-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0em;
        padding: 0.1em;
        border: 1px solid rgba(33, 66, 251, 0.849);
        border-radius: 2px;
    }
    .sd-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }

}
.task-management{
    
    .tm-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0em;
        padding: 0.1em;
        border: 1px solid rgba(67, 0, 175, 0.849);
        border-radius: 2px;
    }
    .tm-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }
}
.construction{
    
    .c-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0em;
        padding: 0.1em;
        border: 1px solid rgba(2, 91, 233, 0.849);
        border-radius: 2px;
    }
    .c-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }
}
.hr-and-recruitment{
    
    .har-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0em;
        padding: 0.1em;
        border: 1px solid rgba(255, 143, 39, 0.849);
        border-radius: 2px;
    }
    .har-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }
}
.it{
    
    .it-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0em;
        padding: 0.1em;
        border: 1px solid rgba(21, 3, 180, 0.849);
        border-radius: 2px;
    }
    .it-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }
}
.twohundred-plus-solutions{
    
    .tps-div{
        display: inline-block;
        height: 0.5em;
        width: 0.5em;
        background-color: rgb(250, 250, 250);
        margin: 0em;
        padding: 0.1em;
        border: 1px solid rgba(152, 199, 44, 0.849);
        border-radius: 2px;
    }
    .tps-gc{
        display: none;
        margin: -0.15em 0 0 -0.2em;
    }
}



.fixed{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}
.fixed-2{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    height: 5vh;
    margin: 0.5em;
}
.fixed-3{
    position: fixed;
    right: 3em;
    top: 0;
    z-index: 1;
    
}
.lines{
    right: 10%;
    position: absolute;
    display: none;
    
}
.sticky-nav-bar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    
    .logo-image{
        height: 5vh;
        margin-left: 1em;
    }
    .hamburger{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1rem;
    .contact-sales{
        
        white-space: nowrap;
        color: $textColor;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.6em 0.7em;
        &:hover{
            cursor: pointer;
        }
    }
    .login{
        white-space: nowrap;
        color: $textColor;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0.6em 0.7em;
        margin-left:2em;
        &:hover{
            cursor: pointer;
        }
    }
    .get-started-hamburger-button{
        @include getStartedButton();
        margin-left:2em;
        white-space: nowrap;
    }
     
}

}

.main-text-and-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5em auto 0em auto;
    
    .business-partnerships{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 3em;
        justify-content: center;
        max-width: 60em;
        
    }
    
    
    .business-partnerships > label{
        @include labelStyle();
        margin: 0.2em 0.3em;
       
    }
    .main-text{
        padding: 0.5em 1em;
        font-size: 3rem;
        opacity: 0.7;
        text-align: center;
    }
    .main-text-two{
        padding: 0.5em 1em;
        font-size: 1.5rem;
        opacity: 0.7;
        text-align: center;
    }
    .get-started-main-button{
        @include getStartedButton();
        margin: 3em 0;
    }
    .hero-photo{
        height: auto;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media only screen and (max-width: 700px){
    .business-partnerships{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        
        "pm marketing crm"
        "creative creative creative soft soft soft"
        "task task constr constr hr hr"
        "it it it solutions solutions solutions"
        ;

        .project-management{
            grid-area: pm;
            
        }
        .marketing{
            grid-area: marketing;
        }
        .crm-and-sales{
            grid-area: crm;
        }
        .creative-and-design{
            grid-area: creative;
        }
        .software-development{
            grid-area: soft;
        }
        .task-management{
            grid-area: task;
        }
        .construction{
            grid-area: constr;
        }
        .hr-and-recruitment{
            grid-area: hr;
        }
        .it{
            grid-area: it;
        }
        .twohundred-plus-solutions{
            grid-area: solutions;
        }
    }
    .business-partnerships{
        max-width: 25em;
        display: none;
        
    }
    .contact-sales, .login, .get-started-hamburger-button{
        display: none;
    }
    .sticky-nav-bar{

        .lines{
            display: inline-block;
            margin-top: 0.8em;
            width: 2em;
            i{
                font-size: 1.3rem;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .business-partnerships > label{
        flex-grow: 1;
       display: inline;
    }
    .business-partnerships{
        max-width: 25em;
    }
    .contact-sales, .login, .get-started-hamburger-button{
        display: none;
    }
}
@media only screen and (max-width: 400px){
    .business-partnerships > label{
        
        flex-wrap: wrap;
        width: 80%;
        
    }
    .business-partnerships{
      
        flex-direction: column;
        
    }
    .contact-sales, .login, .get-started-hamburger-button{
        display: none;
    }
    h1{
        line-height: 0.8em;
    }
    h3{
        line-height: 1em;
    }


}





